/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
/* font-family: 'Poppins', sans-serif; */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(
      to bottom right,
      rgb(0, 255, 234),
      rgb(0, 119, 255)
    )
    no-repeat center fixed;
  min-height: 100dvh;
  display: grid;
  place-items: center;
}

.bg-red {
  background-color: rgb(214, 0, 0) !important;
  color: #ffffff !important;
}
.bg-red:hover {
  background-color: rgb(255, 0, 0) !important;
}

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 80px);
  grid-template-rows: minmax(90px, auto) repeat(5, 80px);
}

.display {
  grid-column: 1/-1;
  background-color: rgb(23, 26, 31);
  display: flex;
  gap: 7px;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  color: #ffffff;
  padding: 7px;
  text-align: end;
}
.previous,
.operator {
  font-size: 1.25rem;
}
.main-display {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 7px;
}
.current {
  font-size: 1.75rem;
  word-wrap: break-word;
  word-break: break-all;
}

.calculator > button {
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid #ffffff;
  outline: none;
  cursor: pointer;
  font-size: 1.5rem;
}
.calculator > button:hover {
  background-color: rgba(255, 255, 255, 0.9);
}
.span-two {
  grid-column: span 2;
}
